@charset "utf-8";

}
html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
    display: flex;      /* { display: grid; place-items: center; } */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 325px;
    background: hsl(0, 0%, 100%);
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card img {
    margin: 1.25em;
    border-radius: 1em;
}
h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 0 1.5rem .8rem 1.5rem;
}
p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9375rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 2rem 3rem 2rem;
}
.attribution {
    margin-top: 20px;
}